*{
    font-family: "Amatic SC", sans-serif;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 44px;
    line-height: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color:#e6cca7;
}

.heading{
    padding: 0 10px;
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-10&color=faebd7)
}

.box0{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 2px;
    background-color: black;
}

.row1, .row2, .row3{
    display: flex;
}

.box{
    display: flex;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 2px;
    background-color: #faebd7;
} 

.img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.reset{
    background-color: #faebd7;
    border: 2px solid black;
    padding: 5px 30px;
    font-size: 32px;
    font-weight: bolder;
    color: black;
    cursor: pointer;
    box-shadow: 4px 4px #e6cca7;
}

.reset:hover{
    background-color: #faebd7;
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px black;
}

.reset:active{
    background-color: #faebd7;
    transform: none;
    box-shadow: 4px 4px #e6cca7;
}

#result{
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-small{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}

.img-small img{
    width: 26px;
    height: 26px;
}

@media(max-width: 480px){
    .box0{
        width: 90vw;
    }

    .row1, .row2, .row3{
        aspect-ratio: 3/1;
    }

    .box{
        width: 100%;
        height: 100%;
    }

    .img{
        width: 60%;
        height: 60%;
    }
}